{% load static %}
<!DOCTYPE html>
<html>
<header>
<style type='text/css'>
body {
    font: 14px sans-serif;
    color: darkslateblue;
    border: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
</style>
</header>
<body>

<form method="POST"  enctype="multipart/form-data">
<p><a href="/">Назад к Списку</a></p>
  {% csrf_token %}
   {{ form.as_p }}      
        <button name ="adr" type="submit" >Update</button>
</form>
{% if img_obj %}
  <h3>Succesfully uploaded : {{img_obj.title}}</h3>
  <img name ="adf" src="{{img_obj.image.url}}"  alt="connect" style="max-height:300px">
{% endif %}
{% if image_obj %}
  <img id ="adf" src="{{image_obj.image.url}}" width="{{image_obj.width}}" height="{{image_obj.height}}"  alt="connect" style="max-height:300px">
{% endif %}
</body>

</html>

